__pycache__/
*.py[cod]
.venv/
.tmp/
.pyarmor/
build/
dist/
*.spec
pyarmor.bug.log
tests/

# source files
bootstrapper.py
main.py
build.py
requirements.txt
update_support.py
aura_filter.py
dashboard.py

# other
*.log
.vscode/